@use "../../styles/media-breakpoints" as *;

.header__nav {
    position: absolute;
    background: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    top: -100vh;
    left: 0;
    right: 0;
    padding: 23px 60px 23px 23px;
    width: 100vw;
    height: fit-content;
    transition: transform var(--trans);
    transform: translate3d(0, 0, 0);
    will-change: transform;
    z-index: 99;

    @media (min-width: $media-xl) {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        transform: none !important;
        background: transparent;
        flex-direction: row;
        width: fit-content;
        padding: 23px 0 0;
        gap: 30px;
        z-index: 1;
    }

    &.active {
        transform: translate3d(0, 100vh, 0);
    }

    &-item {
        color: var(--color-gray-70);
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        transition: color var(--trans);

        &:hover,
        &.active {
            color: var(--color-orange-60);

            @media (min-width: $media-xl) {
                color: var(--color-gray-100);
                border-bottom: 3px solid var(--color-orange-70);
            }
        }

        @media (min-width: $media-xl) {
            font-weight: 600;
            font-size: 14px;
            line-height: 100%;
            padding-bottom: 20px;
            border-bottom: 3px solid transparent;
            transition: color var(--trans), border var(--trans);
        }
    }
}
