@use "../../styles/media-breakpoints" as *;

.report-window {
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

    &-alert__actions {
        width: 100%;
        display: grid !important;
        gap: 10px !important;
        justify-content: unset !important;

        @media (min-width: 480px) {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            max-width: 350px;
        }
    }

    &-popup {
        .action-form__body {
            @media (min-width: $media-lg) {
                padding: 18px 30px 64px;
            }
        }
    }

    &__header {
        padding: 0 20px 20px;
        border-bottom: 1px solid var(--color-gray-40);

        @media (min-width: $media-xxl) {
            padding: 0 30px 20px;
        }
    }

    &__close-btn {
        position: relative;
        width: 24px;
        flex: 0 0 24px;
        height: 24px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            height: 2.5px;
            width: 15px;
            background: var(--color-black);
        }

        &::before {
            transform: translate(-50%, -50%) rotate(135deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-135deg);
        }
    }

    &__name {
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
    }

    &__body {
        padding: 18px 20px 85px;
        display: grid;
        gap: 20px;

        @media (min-width: $media-xxl) {
            padding: 18px 30px 100px;
        }

        .form-field__status {
            background: var(--color-gray-20);
        }
    }

    &_read-mode {
        .report-window__body {
            padding: 18px 30px 10px !important;
        }
    }

    &__fields {
        display: grid;
        gap: 20px;

        @media (min-width: $media-xxl) {
            grid-template-columns: repeat(2, 1fr);
        }

        input {
            width: 100%;
        }
    }

    &__block {
        margin-top: 20px;
    }

    &__subtitle {
        display: inline-block;
        margin-bottom: 28px;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
    }

    .bottom-nav {
        @media (min-width: $media-xxl) {
            padding: 10px 0 30px;
        }

        @media (min-width: $media-xxxl) {
            padding: 10px 40px 30px;
        }

        .container {
            display: grid;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }
}
