@use "./media-breakpoints" as *;

.card {
    @media (min-width: $media-xxl) {
        background: var(--color-gray-20);
    }

    &__container {
        padding-bottom: 160px;

        @media (min-width: $media-lg) {
            padding-bottom: 90px;
        }

        @media (min-width: $media-xxl) {
            padding-right: 0;
            padding-left: 0;
            padding-bottom: 0;
        }
    }

    &__wrapper {
        display: grid;
        gap: 20px;

        @media (min-width: $media-lg) {
            justify-content: center;
            grid-template-columns: 840px;
        }

        @media (min-width: $media-xxl) {
            grid-template-columns: 840px 575px;
            gap: 40px;
        }

        @media (min-width: $media-xxxl) {
            grid-template-columns: 1fr 575px;
        }
    }

    &__main-content {
        padding-top: 20px;
        background: var(--color-white);

        @media (min-width: $media-lg) {
            padding-top: 40px;
            padding-left: 40px;
            padding-right: 40px;
        }

        @media (min-width: $media-xxl) {
            padding-bottom: 130px;
        }
    }

    &__general-info {
        padding-top: 8px;
        display: grid;
        gap: 20px;

        .form-field {
            width: 100%;
        }
    }

    &__aside-content {
        @media (min-width: $media-xxl) {
            padding-top: 40px;
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 40px;
        margin-bottom: 20px;

        @media (min-width: $media-lg) {
            align-items: flex-start;
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
        }

        span {
            display: inline-block;
            font-weight: 600;
            font-size: 14px;
            line-height: 120%;
            color: var(--color-gray-60);

            @media (min-width: $media-lg) {
                font-size: 16px;
            }
        }
    }

    &__row {
        display: grid;
        gap: 15px;

        @media (min-width: $media-lg) {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }

    &__main-name {
        position: relative;
        margin-bottom: 15px;

        @media (min-width: $media-lg) {
            margin-bottom: 20px;
        }

        input {
            width: 100%;
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            transition: border var(--trans);
            border: 1px solid var(--color-gray-30);
            background: var(--color-gray-20);
            border-radius: 13px;
            padding: 13px 100px 13px 16px;

            &:focus {
                border: 1px solid var(--color-blue-70);
            }

            @media (min-width: $media-lg) {
                padding: 13px 120px 13px 16px;
            }
        }

        .status {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 13px;

            @media (min-width: $media-lg) {
                right: 25px;
            }
        }
    }

    &__tabs {
        display: flex;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;
        margin-bottom: 20px;

        &-wrapper {
            .swiper-button-prev,
            .swiper-button-next {
                width: 33px;
                height: 33px;
                border: 1px solid var(--color-blue-30);
                background: var(--color-blue-20)
                    url("../assets/icons/arrow-right-blue.svg") center no-repeat;
                border-radius: 8px;
                margin: 0;
                top: 50%;
                transform: translateY(-50%);
                transition: all var(--trans);
                box-shadow: 0px 0px 25px 30px rgba(255, 255, 255, 1);

                @media (min-width: $media-xxl) {
                    opacity: 0;
                }
            }

            .swiper-button-prev {
                transform: translateY(-50%) rotate(-180deg);
            }

            .swiper-button-prev.swiper-button-disabled,
            .swiper-button-next.swiper-button-disabled {
                opacity: 0;
            }

            &:hover {
                .swiper-button-prev:not(.swiper-button-disabled),
                .swiper-button-next:not(.swiper-button-disabled) {
                    opacity: 1;
                    box-shadow: 0px 0px 25px 30px rgba(255, 255, 255, 1);
                }
            }

            .swiper-button-prev svg,
            .swiper-button-next svg {
                display: none;
            }
        }

        &-item {
            input {
                position: absolute;
                display: none;
                pointer-events: none;
                visibility: hidden;

                &:checked ~ label {
                    color: var(--color-white);
                    background: var(--color-blue-70);
                }
            }

            label {
                display: block;
                border-radius: 8px;
                padding: 7px 10px;
                border: 1px solid var(--color-blue-70);
                background: var(--color-white);
                color: var(--color-blue-70);
                transition: color var(--trans), background var(--trans);
                font-weight: 500;
                font-size: 14px;
                line-height: 100%;
                cursor: pointer;

                &:hover {
                    color: var(--color-white);
                    background: var(--color-blue-70);
                }
            }
        }
    }

    &__bottom-actions {
        position: fixed;
        bottom: 80px;
        right: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        z-index: 10;

        @media (min-width: $media-lg) {
            bottom: 100px;
        }

        @media (min-width: $media-xxl) {
            display: none;
            visibility: hidden;
            pointer-events: none;
        }

        button {
            height: 60px;
            flex: 0 0 60px;
            border-radius: 50px;
            border: 1px solid var(--color-orange-40);
            background: var(--color-orange-30);
            box-shadow: 0 3px 8px #00203326;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                height: 30px;
                pointer-events: none;
            }
        }
    }
}
