@use "./media-breakpoints" as *;

.card {
    &__container {
        padding-top: 20px;
        padding-bottom: 160px;
    }

    &__wrapper {
        display: grid;
        gap: 20px;
    }

    &__main-content {
    }

    &__row {
        display: grid;
        gap: 15px;

        @media (min-width: $media-lg) {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }

    &__main-name {
        border: 1px solid var(--color-gray-30);
        background: var(--color-gray-20);
        border-radius: 13px;
        padding: 13px 13px 13px 16px;
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;

        input {
            width: 100%;
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            vertical-align: middle;
        }
    }
}
