@use "./media-breakpoints" as *;

.card {
    @media (min-width: $media-xxl) {
        background: var(--color-gray-20);
    }

    &__container {
        padding-bottom: 160px;

        @media (min-width: $media-lg) {
            padding-bottom: 90px;
        }

        @media (min-width: $media-xxl) {
            padding-left: 0;
            padding-bottom: 0;
        }
    }

    &__wrapper {
        display: grid;
        gap: 20px;

        @media (min-width: $media-lg) {
            justify-content: center;
            grid-template-columns: 840px;
        }

        @media (min-width: $media-xxl) {
            grid-template-columns: 840px 1fr;
            gap: 40px;
        }
    }

    &__main-content {
        padding-top: 20px;
        background: var(--color-white);

        @media (min-width: $media-lg) {
            padding-top: 40px;
            padding-left: 40px;
            padding-right: 40px;
        }

        @media (min-width: $media-xxl) {
            padding-bottom: 130px;
        }
    }

    &__aside-content {
        @media (min-width: $media-xxl) {
            padding-top: 40px;
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    &__row {
        display: grid;
        gap: 15px;

        @media (min-width: $media-lg) {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }

    &__main-name {
        border: 1px solid var(--color-gray-30);
        background: var(--color-gray-20);
        border-radius: 13px;
        padding: 13px 13px 13px 16px;
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;

        @media (min-width: $media-lg) {
            margin-bottom: 20px;
        }

        input {
            width: 100%;
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            vertical-align: middle;
        }
    }
}
