@use "./media-breakpoints" as *;

.form {
    &-label {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray-70);
        margin-bottom: 8px;

        span {
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            color: var(--color-red-70);
        }
    }

    &-field {
        padding: 10px 13px;
        border-radius: 10px;
        border: 1px solid var(--color-gray-30);
        background: var(--color-gray-20);
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;

        ::placeholder {
            color: var(--color-gray-60);
        }
    }

    &-multiselect {
        position: relative;

        &__field {
            padding: 10px 13px;
            border-radius: 10px;
            border: 1px solid var(--color-gray-30);
            background: var(--color-gray-20)
                url("../assets/icons/arrow-right.svg") right 10px top 50%
                no-repeat;
            background-size: 16px;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            cursor: pointer;
            width: 100%;
            text-align: left;
        }

        &__list {
            display: flex;
            align-items: center;
            gap: 10px;
            flex-wrap: wrap;
            margin-top: 10px;
        }

        &__item {
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 4px;
            padding: 5px 8px 5px 10px;
            border-radius: 8px;
            background: var(--color-gray-20);
            border: 1px solid var(--color-gray-30);

            button {
                flex: 0 0 14px;
                height: 14px;
            }

            svg {
                pointer-events: none;
            }

            span {
                font-weight: 500;
                font-size: 12px;
                line-height: 100%;
            }
        }

        .multi-select {
            position: absolute;
            left: 0;
            right: 0;
            top: calc(100% + 10px);
            max-width: 100%;
            width: 100%;
        }
    }

    &-search {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        border: 1px solid var(--color-gray-30);
        border-radius: 10px;
        padding: 8px 16px 8px 42px;
        background: var(--color-gray-20) url("../assets/icons/search.svg")
            no-repeat;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: left 16px top 50%;

        ::placeholder {
            color: var(--color-gray-60);
        }
    }

    &-checkbox {
        gap: 0 !important;

        input {
            -webkit-appearance: none;
            appearance: none;

            &:checked {
                ~ .checkbox {
                    background-color: var(--color-blue-70);
                    border: 1px solid var(--color-blue-70);
                }
            }
        }

        .checkbox {
            position: relative;
            border: 1px solid var(--color-gray-50);
            border-radius: 4px;
            flex: 0 0 20px;
            width: 20px;
            height: 20px;
            margin-right: 10px;
            transition: border var(--trans), background var(--trans);
            cursor: pointer;
            background-color: var(--color-white);
            background-image: url("../assets/icons/check.svg");
            background-position: center;
            background-repeat: no-repeat;

            &:hover {
                border: 1px solid var(--color-blue-40);
            }
        }
    }

    &-select-extend {
        > [class*="-control"] {
            padding: 3px 5px;
            border-radius: 10px;
            border: 1px solid var(--color-gray-30);
            background: var(--color-gray-20);
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            min-height: 20px;

            [class*="-placeholder"] {
                color: var(--color-gray-60);
            }

            [class*="-indicatorSeparator"],
            [class*="-indicatorContainer"] svg {
                display: none;
            }

            [class*="-indicatorContainer"] {
                width: 36px;
                height: 100%;
                background: url("../assets/icons/arrow-right.svg") center
                    no-repeat;
                background-size: 16px;
            }
        }
    }

    &-select {
        min-width: 100%;
        padding: 10px 13px;
        border-radius: 10px;
        border: 1px solid var(--color-gray-30);
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        background: var(--color-gray-20) url("../assets/icons/arrow-right.svg")
            no-repeat;
        background-size: 16px;
        background-position: right 12px top 50%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::placeholder {
            color: var(--color-gray-60);
        }
    }

    &-textarea {
        min-width: 100%;
        padding: 10px 13px;
        border-radius: 10px;
        border: 1px solid var(--color-gray-30);
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        background: var(--color-gray-20);
        min-height: 80px;

        &::placeholder {
            color: var(--color-gray-60);
        }
    }
}
