@use "./media-breakpoints" as *;

.registry {
    &__container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .title {
            flex-shrink: 0;
        }
    }

    &__table-section {
        flex-grow: 1;
        overflow-x: auto;
        padding-bottom: 40px;

        @media (min-width: $media-xxl) {
            overflow-x: unset;
        }
    }
}

.registry-table {
    &__thead {
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        text-align: left;
        border-bottom: 1px solid var(--color-gray-30);

        .custom-datepicker,
        .multi-select {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media (min-width: $media-lg) {
                position: absolute;
                top: 40px;
                transform: translateX(-50%);
            }
        }

        &-label {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            max-width: 130px;
        }

        &-label-date {
            position: relative;
            overflow: visible;

            .hint__message {
                top: calc(100% + 10px);
                min-height: fit-content;
            }

            &:hover {
                .hint__message {
                    opacity: 1;
                    visibility: visible;
                }
            }

            span {
                display: block;
                max-width: 65px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 5px;

            > span {
                flex: 0 0 16px;
                height: 16px;
            }
        }

        th {
            padding: 15px;
            position: relative;
        }

        .registry-table__thead-filter-item:first-of-type {
            .multi-select {
                @media (min-width: $media-lg) {
                    left: 0;
                    transform: none;
                }
            }
        }

        .registry-table__thead-filter-item:last-of-type {
            .multi-select {
                @media (min-width: $media-lg) {
                    left: auto;
                    transform: none;
                    right: 0;
                }
            }
        }

        th:first-of-type {
            padding-left: 0;
        }

        th:last-of-type {
            padding-right: 0;
        }
    }

    &__tbody {
        @media (min-width: $media-xxl) {
            overflow-x: hidden;
        }
    }

    &__item {
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        color: var(--color-gray-100);
        border-bottom: 1px solid var(--color-gray-30);

        > td {
            padding: 15px;
        }

        > td:first-of-type {
            padding-left: 0;
        }

        > td:last-of-type {
            padding-right: 0;
        }

        &:hover {
            .delete-button {
                @media (min-width: $media-xxl) {
                    opacity: 1;
                }
            }
        }

        .hidden-group {
            position: relative;

            &:hover {
                .hidden-text {
                    visibility: visible;
                    opacity: 1;
                    max-height: fit-content;
                }

                .visible-text {
                    opacity: 0;
                    visibility: hidden;
                }
            }

            .visible-text {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                max-width: 130px;
                transition: opacity var(--trans);
            }

            .hidden-text {
                border-radius: 10px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
                width: max-content;
                max-width: 400px;
                max-height: 0;
                overflow: hidden;
                opacity: 0;
                visibility: hidden;
                padding: 5px;
                transition: opacity var(--trans);
                background: var(--color-white);
                box-shadow: 0 6px 20px rgb(230 230 230);
                white-space: normal;
            }
        }

        .delete-button {
            transition: opacity var(--trans);

            @media (min-width: $media-xxl) {
                opacity: 0;
            }
        }

        &-status {
            white-space: nowrap;
            width: fit-content;
            border-radius: 99px;
            padding: 3px 8px;
            color: var(--color-gray-70);
            background: var(--color-gray-30);

            &_completed {
                color: var(--color-orange-80);
                background: var(--color-orange-30);
            }

            &_active {
                color: var(--color-green-80);
                background: var(--color-green-30);
            }

            &_inprogress {
                color: var(--color-purple-80);
                background: var(--color-purple-30);
            }

            &_canceled {
                color: var(--color-red-70);
                background: var(--color-red-30);
            }

            &_await {
                color: var(--color-green-80);
                background: var(--color-green-30);
            }
        }

        &-budget {
            b {
                display: block;
                font-weight: 600;
                font-size: 16px;
            }

            span {
                color: var(--color-gray-60);
            }
        }

        &-period {
            > span {
                color: var(--color-gray-60);
            }

            div > span {
                display: block;
                padding: 4px 5px;
                width: fit-content;
                font-size: 12px;
                line-height: 100%;
                text-align: center;
                color: var(--color-gray-60);
                border: 1px solid var(--color-gray-60);
                border-radius: 5px;
            }
        }

        &-last-report {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 10px;

            div {
                text-align: center;
                width: 115px;
                padding: 5px 8px 5px 28px;
                border: 1px solid var(--color-gray-50);
                color: var(--color-gray-70);
                border-radius: 50px;
                line-height: 100%;
                background-image: url("../assets/icons/in-progress.svg");
                background-size: 16px 16px;
                background-position: left 8px top 50%;
                background-repeat: no-repeat;

                &.completed {
                    border: 1px solid var(--color-green-70);
                    color: var(--color-green-70);
                    background-image: url("../assets/icons/success.svg");
                }
            }
        }
    }
}
