:root {
    --font-inter: "Inter", sans-serif;

    --trans: 0.2s ease-in-out;

    --bg-color: #00000080;

    --color-white: #ffffff;
    --color-black: #000000;

    --color-gray-40: #e4e7ec;
    --color-gray-60: #98a2b3;
    --color-gray-70: #667085;
    --color-gray-100: #002033;

    --color-orange-60: #fdb022;
    --color-orange-70: #f38b00;
}
