.user {
    height: 40px;
    width: 40px;
    flex: 0 0 40px;
    cursor: pointer;

    &__photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 1px solid oklch(0.872 0.01 258.338);
        border-radius: 50%;
        font-size: 16px;
        overflow: hidden;
    }
}
