@use "../../styles/media-breakpoints" as *;

.user {
    height: 40px;
    width: 40px;
    flex: 0 0 40px;
    cursor: pointer;

    @media (min-width: $media-xl) {
        display: flex;
        align-items: center;
        height: auto;
        width: auto;
        flex: 0 0 auto;
        gap: 13px;
    }

    &:hover {
        @media (min-width: $media-xl) {
            .user__info {
                b {
                    color: var(--color-blue-70);
                }

                &-icon {
                    color: var(--color-blue-70);
                }
            }
        }
    }

    &__photo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: var(--color-orange-30);
        border-radius: 50%;
        font-weight: 500;
        font-size: 10px;
        line-height: 40px;
        text-align: center;
        overflow: hidden;

        @media (min-width: $media-xl) {
            width: 32px;
            height: 32px;
            flex: 0 0 32px;
        }
    }

    &__info {
        display: none;

        > div {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        b {
            color: var(--color-gray-100);
            font-weight: 500;
            font-size: 12px;
            line-height: 100%;
            transition: color var(--trans);
        }

        span {
            font-weight: 400;
            font-size: 12px;
            line-height: 100%;
            color: var(--color-gray-70);
        }

        &-icon {
            width: 12px;
            height: 12px;

            svg {
                transition: color var(--trans);
            }
        }

        @media (min-width: $media-xl) {
            display: flex;
            align-items: flex-start;
            gap: 8px;
        }
    }
}
