:root {
    --media-xs: 0;
    --media-sm: 360px;
    --media-md: 768px;
    --media-lg: 1024px;
    --media-xl: 1280px;
    --media-xxl: 1440px;

    --font-inter: "Inter", sans-serif;

    --trans: 0.2s ease-in-out;

    --bg-color: #00000080;

    --color-white: #ffffff;
    --color-black: #000000;

    --color-gray-40: #e4e7ec;
    --color-gray-70: #667085;
    --color-gray-100: #002033;

    --color-orange-60: #fdb022;
    --color-orange-70: #f38b00;
}
