@use "../../styles/media-breakpoints" as *;

.executor-block {
    padding-top: 0;

    input {
        width: 100%;
    }

    &__header {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        strong {
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
        }

        @media (min-width: $media-lg) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }

    &__tabs {
        @media (min-width: $media-lg) {
            margin-bottom: 0 !important;
        }
    }

    &__form {
        display: grid;
        gap: 10px;
    }

    &-wrapper_creditor {
        max-width: 500px;
    }

    &-wrapper_customer {
        max-width: 400px;
    }
}
