@use "../../styles/media-breakpoints" as *;

.projects {
    &__container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__table {
        flex-grow: 1;
        overflow-x: auto;
        padding-bottom: 40px;

        @media (min-width: $media-xxl) {
            overflow-x: hidden;
        }
    }
}
