@use "../../styles/media-breakpoints" as *;

.projects {
    &__header {
        padding: 20px 0 30px;

        @media (min-width: $media-lg) {
            padding: 40px 0 30px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__table {
        flex-grow: 1;
    }
}
