@use "../../styles/media-breakpoints" as *;

.report-rate-editor {
    .report-window__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
    }

    .report-window__body {
        padding: 18px 20px 100px;

        @media (min-width: $media-xxl) {
            padding: 18px 20px 120px;
        }
    }

    &_read-mode {
        .report-window__body {
            padding: 18px 20px 0px !important;

            @media (min-width: $media-xxl) {
                padding: 18px 20px 0 !important;
            }
        }

        .bottom-nav {
            display: none;
        }
    }

    .misc-list {
        margin-top: 10px;
    }

    &__rate-block {
        display: grid;
        gap: 10px;
    }

    .report-window__subtitle {
        margin-bottom: 10px;
    }

    .bottom-nav .container {
        grid-template-columns: 1fr;
    }
}
