@use "../../styles/media-breakpoints" as *;

.bottom-sheet {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    max-width: 0;
    background: var(--bg-color);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--trans);
    z-index: -1;

    &:not(.bottom-sheet_desk) {
        @media (min-width: $media-xxl) {
            display: none;
            visibility: hidden;
            pointer-events: none;
        }
    }

    &_desk {
        .bottom-sheet__wrapper {
            @media (min-width: $media-xxl) {
                width: 520px;
                height: 100vh;
                bottom: 0;
                left: auto;
                right: 0;
                top: 0;
                border-radius: 0;
                transform: translate3d(100%, 0, 0);
            }
        }

        .bottom-sheet__close-btn,
        .bottom-sheet__icon {
            @media (min-width: $media-xxl) {
                display: none;
            }
        }
    }

    &.active {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
        z-index: 999;
        max-width: 100%;

        > .bottom-sheet__wrapper {
            transform: translate3d(0, 0, 0);

            .bottom-sheet__wrapper {
                transform: translate3d(0, -40px, 0);
            }
        }
    }

    &__wrapper {
        position: fixed;
        width: 100%;
        height: calc(100dvh - 40px);
        bottom: 0;
        left: 0;
        right: 0;
        top: 40px;
        background: var(--color-white);
        border-radius: 10px 10px 0 0;
        transform: translate3d(0, 100%, 0);
        transition: all var(--trans);
        will-change: transfrom;
        display: flex;
        flex-direction: column;

        @media (min-width: $media-lg) {
            width: 100%;
        }
    }

    &__body {
        overflow: hidden;
        position: relative;
        flex-grow: 1;
        min-height: 100%;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
    }

    &__icon {
        position: absolute;
        height: 5px;
        width: 48px;
        background: var(--color-gray-50);
        border-radius: 50px;
        left: 50%;
        top: -10px;
        transform: translateX(-50%);
    }

    &__close-btn {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 20px;
        right: 20px;
        z-index: 2;

        span {
            display: block;
            width: 24px;
            height: 24px;
            position: relative;

            &::after,
            &::before {
                content: "";
                position: absolute;
                background: var(--color-gray-60);
                width: 18px;
                height: 2px;
                top: 50%;
                left: 50%;
            }

            &::after {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::before {
                transform: translate(-50%, -50%) rotate(130deg);
            }
        }
    }
}
