@use "../../styles/media-breakpoints" as *;

.custom-datepicker {
    width: 360px;
    border-radius: 10px;
    border: 1px solid var(--color-gray-40);
    box-shadow: 0px 12px 28px 0px #0020331f;
    box-shadow: 0px 8px 8px 0px #0020330a;
    z-index: 22;
    overflow: hidden;

    &__actions {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0 15px 15px;
    }

    &__header {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: space-between;

        &-actions {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        &-actions-next-btn,
        &-actions-prev-btn {
            flex: 0 0 33px;
            width: 33px;
            height: 33px;
            background: var(--color-gray-30)
                url("../../assets/icons/arrow-right.svg") center no-repeat;
            border-radius: 8px;
        }

        &-actions-prev-btn {
            rotate: -180deg;
        }
    }

    .form-select {
        flex: 0 0 114px;
        min-width: 0;
        padding: 6px 16px;
    }

    .react-datepicker {
        font-family: var(--font-inter);
        border: none;
    }

    .react-datepicker__month-container,
    .react-datepicker {
        width: 100%;
    }

    .react-datepicker__day-names {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 7px;
    }

    .react-datepicker__month-container .react-datepicker__header {
        border-bottom: none;
        background: transparent;
        padding: 0;
    }

    .react-datepicker__day-name {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 41px;
        width: 41px;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0px;
        margin: 0;
        padding: 0;
    }

    .react-datepicker__month-container .react-datepicker__day-names {
        margin-top: 13px;
        margin-bottom: 10px;
    }

    .react-datepicker__month-container .react-datepicker__day-names *,
    .react-datepicker__day--outside-month .react-datepicker__day-number {
        color: var(--color-gray-60) !important;
    }

    .react-datepicker .react-datepicker__month {
        margin: 0;
        display: grid;
        gap: 5px;
    }

    .react-datepicker__month-container {
        padding: 15px 15px 20px;
    }

    .react-datepicker__week {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    .react-datepicker__day {
        position: relative;
        z-index: 2;
        height: 41px;
        width: 100%;
        padding: 0;
        margin: 0;
        border: none;
        background: none !important;
    }

    .react-datepicker .react-datepicker__day-number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0px;
        border-radius: 50px;
        border: 1px solid transparent;
        height: 41px;
        width: 41px;
        color: var(--color-gray-100);
        padding: 0;
        margin: 0;
        transition: all var(--trans);
        z-index: 2;
    }

    .react-datepicker__day:hover .react-datepicker__day-number {
        background: var(--color-gray-20);
        border: 1px solidvar(--color-gray-20);
    }

    .react-datepicker__day-overlay {
        content: "";
        position: absolute;
        background: var(--color-blue-20);
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        pointer-events: none;
        transition: opacity var(--trans);
        border: none;
    }

    // .react-datepicker__day--in-selecting-range .react-datepicker__day-overlay,
    .react-datepicker__day--in-range .react-datepicker__day-overlay {
        opacity: 1;
    }

    // .react-datepicker__day--selecting-range-start
    //     .react-datepicker__day-overlay,
    .react-datepicker__day--range-start .react-datepicker__day-overlay {
        border-radius: 50px 0 0 50px;
        left: 3.5px;
    }

    // .react-datepicker__day--selecting-range-end
    //     .react-datepicker__day-overlay,
    .react-datepicker__day--range-end .react-datepicker__day-overlay {
        border-radius: 0 50px 50px 0;
        right: 3.5px;
    }

    .react-datepicker__day--range-start.react-datepicker__day--range-end
        .react-datepicker__day-overlay {
        opacity: 0;
    }

    .react-datepicker
        .react-datepicker__day--today
        .react-datepicker__day-number {
        background-color: transparent;
        color: var(--color-gray-100);
        border: 1px solid var(--color-blue-70);
    }

    .react-datepicker__day--selected .react-datepicker__day-number,
    .react-datepicker__day--range-start .react-datepicker__day-number,
    .react-datepicker__day--range-end .react-datepicker__day-number {
        background-color: var(--color-blue-70) !important;
        border: 1px solid var(--color-blue-70);
        color: var(--color-white) !important;
    }

    .react-datepicker
        .react-datepicker__day--keyboard-selected
        .react-datepicker__day-number,
    .react-datepicker .react-datepicker__month-text--keyboard-selected,
    .react-datepicker .react-datepicker__quarter-text--keyboard-selected,
    .react-datepicker .react-datepicker__year-text--keyboard-selected {
        background-color: var(--color-blue-70);
        border: 1px solid var(--color-blue-70);
        color: var(--color-white);
    }

    .react-datepicker__day--in-selecting-range:not(
            .react-datepicker__day--in-range,
            .react-datepicker__month-text--in-range,
            .react-datepicker__quarter-text--in-range,
            .react-datepicker__year-text--in-range
        ),
    .react-datepicker__month-text--in-selecting-range:not(
            .react-datepicker__day--in-range,
            .react-datepicker__month-text--in-range,
            .react-datepicker__quarter-text--in-range,
            .react-datepicker__year-text--in-range
        ),
    .react-datepicker__quarter-text--in-selecting-range:not(
            .react-datepicker__day--in-range,
            .react-datepicker__month-text--in-range,
            .react-datepicker__quarter-text--in-range,
            .react-datepicker__year-text--in-range
        ),
    .react-datepicker__year-text--in-selecting-range:not(
            .react-datepicker__day--in-range,
            .react-datepicker__month-text--in-range,
            .react-datepicker__quarter-text--in-range,
            .react-datepicker__year-text--in-range
        ) {
        background-color: var(--color-blue-70);
        color: #ffffff !important;
    }

    .react-datepicker__day--selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--selected,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--selected,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--selected,
    .react-datepicker__year-text--in-selecting-range,
    .react-datepicker__year-text--in-range {
        background-color: var(--color-blue-70);
        color: #ffffff !important;
    }
}
