@use "../../styles/media-breakpoints" as *;

.reports-registry {
    .registry__header {
        flex-wrap: wrap;
        gap: 20px;
    }

    .card__tabs {
        margin-bottom: 0;

        .card__tabs-item {
            span {
                display: inline-block;
                color: var(--color-gray-50);
                margin-left: 7px;
            }

            input:checked ~ label span {
                color: var(--color-white);
                opacity: 50%;
            }
        }
    }
}
