.header {
    &__logo {
        width: 90px;
        height: 70px;

        img {
            object-fit: contain;
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
        border: 2px solid oklch(0.872 0.01 258.338);
        padding: 10px 20px;
    }
}
