@use "../../styles/media-breakpoints" as *;

.project-card {
    &__budget-row {
        margin-bottom: 12px;

        @media (min-width: $media-lg) {
            margin-bottom: 20px;
        }
    }

    &__services-list {
        max-height: 175px;
        overflow-y: auto;
        border: 1px solid var(--color-gray-30);
        padding: 10px 13px;
        border-radius: 10px;
        display: grid;
        gap: 10px;

        @media (min-width: $media-lg) {
            padding: 9px 16px 10px;
        }

        &__item {
            display: flex;
            align-items: center;
            // grid-template-columns: 10% 1fr 1fr 1fr;
            gap: 5px;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;

            @media (min-width: $media-lg) {
                grid-template-columns: repeat(4, 1fr);
            }

            &-status {
                width: fit-content;
                text-align: center;
                font-weight: 500;
                font-size: 12px;
                line-height: 150%;
                background: var(--color-purple-30);
                color: var(--color-purple-80);
                border-radius: 99px;
                padding: 3px 8px;
            }

            &-cost {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                @media (min-width: $media-lg) {
                    justify-content: flex-end;
                }
            }
        }
    }

    &__contragent,
    &__industries,
    &__description,
    &__location {
        margin-bottom: 20px;
    }

    &__team {
        &-list {
            display: grid;
            gap: 20px;

            @media (min-width: $media-lg) {
                grid-template-columns: repeat(2, 1fr);
            }

            &-item {
                padding: 16px;
                border-radius: 10px;
                background: var(--color-gray-20);
                border: 1px solid var(--color-gray-30);
                display: grid;
                gap: 3px;
                font-size: 14px;
                line-height: 150%;

                b {
                    font-weight: 500;
                }

                span {
                    display: block;
                    color: var(--color-gray-70);
                }
            }

            &-nodata {
                grid-column: 1 / -1;
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                border: 1px solid var(--color-gray-30);
                border-radius: 10px;
                padding: 10px 13px;
            }
        }
    }

    &__executors-list {
        display: grid;
        gap: 20px;
        margin-bottom: 20px;

        @media (min-width: $media-lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        &-nodata {
            grid-column: 1 / -1;
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            border: 1px solid var(--color-gray-30);
            border-radius: 10px;
            padding: 10px 13px;
        }
    }

    &__executors-item {
        position: relative;
        padding: 16px 50px 16px 16px;
        border-radius: 10px;
        background: var(--color-gray-20);
        border: 1px solid var(--color-gray-30);
        font-size: 14px;
        line-height: 150%;
        display: grid;
        gap: 10px;
        transition: all var(--trans);

        b {
            font-weight: 500;
        }

        span {
            display: block;
            color: var(--color-gray-70);
        }

        > div {
            display: grid;
            gap: 3px;
        }

        &:hover {
            @media (min-width: $media-xl) {
                box-shadow: 0 8px 8px #0020330a;

                .project-card__executors-item__actions {
                    opacity: 1;
                }
            }
        }

        &__actions {
            position: absolute;
            display: flex !important;
            align-items: center;
            flex-direction: column;
            gap: 10px !important;
            top: 16px;
            right: 16px;

            @media (min-width: $media-xl) {
                opacity: 0;
                transition: opacity var(--trans);
                flex-direction: row;
                top: auto;
                bottom: 16px;
            }
        }

        &__edit,
        &__delete {
            flex: 0 0 30px;
            height: 30px;
            width: 30px;
            padding: 5px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__edit {
            border: 1px solid var(--color-gray-30);
            background: var(--color-white);
            color: var(--color-gray-80);
        }

        &__delete {
            border: 1px solid var(--color-red-40);
            background: var(--color-red-30);
            color: var(--color-red-70);
        }
    }
}

.project-budget__block {
    border: 1px solid var(--color-gray-30);
    border-radius: 10px;
    padding: 9.5px 16px;
    position: relative;
    overflow: hidden;

    &.active {
        padding: 16px;
    }

    &-implementation {
        .project-budget__block-title {
            flex-wrap: wrap;
            gap: 8px;
        }
    }

    &-main {
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            color: var(--color-gray-70);
        }

        strong {
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
        }
    }

    &-percentage {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        padding: 5px;
        border-radius: 5px;
        color: var(--color-gray-70);
        background: var(--color-gray-30);

        &.plus {
            color: var(--color-red-70);
            background: var(--color-red-30);
        }

        &.minus {
            color: var(--color-green-80);
            background: var(--color-green-30);
        }
    }

    &-progress {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--color-gray-30);
        height: 4px;
        z-index: 1;

        &__line {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            background: var(--color-orange-60);
            z-index: 2;
            transition: all var(--trans);
        }
    }

    &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        line-height: 150%;

        span {
            font-weight: 400;
            color: var(--color-gray-70);

            &.active {
                color: var(--color-gray-100);
                font-weight: 500;
            }
        }

        b {
            font-weight: 500;
        }
    }
}
