@use "../../styles/media-breakpoints" as *;

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: var(--bg-color);

    &__wrapper {
        width: calc(100% - 30px);
        min-width: 330px;
        max-width: 520px;
        background: var(--color-white);
        border-radius: 10px;

        @media (min-width: $media-lg) {
            width: 100%;
        }
    }

    &__header {
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        padding: 20px;
        border-bottom: 1px solid var(--color-gray-40);

        @media (min-width: $media-lg) {
            padding: 20px 30px;
        }
    }
}
