.hint {
    width: 12.5px;
    height: 12.5px;
    position: relative;
    display: inline-block;
    margin-left: 4px;

    &:before {
        content: "";
        position: absolute;
        border: 6px solid transparent;
        border-top: 6px solid var(--color-gray-90);
        bottom: calc(100% + -2px);
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        transition: opacity var(--trans);
    }

    &__message {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left: 50%;
        transform: translateX(-50%);
        bottom: calc(100% + 10px);
        padding: 8px;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        text-align: center;
        color: var(--color-primary);
        border-radius: 4px;
        background: var(--color-gray-90);
        transition: opacity var(--trans);
        max-width: 175px;
        z-index: 2;
    }

    &:hover {
        .hint__icon {
            color: var(--color-blue-70);
        }

        &:before,
        .hint__message {
            opacity: 1;
            visibility: visible;
        }
    }

    &__icon {
        color: var(--color-gray-40);
        transition: color var(--trans);
    }
}
