@use "../../styles/media-breakpoints" as *;

.card-reports-list {
    position: relative;

    &__header {
        display: none;
        align-items: center;
        grid-template-columns: 1fr 22% 22% 80px;
        gap: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray-70);
        padding: 0 20px 20px;
        border-bottom: 1px solid var(--color-gray-20);
        margin-bottom: 20px;

        @media (min-width: 560px) {
            display: grid;
        }

        @media (min-width: $media-xxl) {
            padding: 0;
            grid-template-columns: 155px 22% 22% 80px;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        cursor: pointer;

        @media (min-width: 560px) {
            align-items: start;
            grid-template-columns: 1fr 20% 20% 80px;
            gap: 20px;
        }

        @media (min-width: $media-xxl) {
            padding: 20px 0;
            grid-template-columns: 150px 20% 20% 80px;
        }
    }
}
