@use "../../styles/media-breakpoints" as *;

.card-reports-list {
    position: relative;

    &__header {
        display: none;
        align-items: end;
        grid-template-columns: 30% 20% 20% 1fr;
        gap: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: var(--color-gray-70);
        padding: 0 28px 20px 20px;
        border-bottom: 1px solid var(--color-gray-30);
        margin-bottom: 20px;

        @media (min-width: 560px) {
            display: grid;
        }

        @media (min-width: $media-xxl) {
            padding: 0 28px 20px 20px;
            margin: 0;
        }

        @media (min-width: 1920px) {
            grid-template-columns: 30% 22% 22% 1fr;
        }
    }

    .reports__list:not(.list--scroll) {
        li {
            padding: 20px 28px 20px 20px;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 20px 0;
        cursor: pointer;
        transition: background var(--trans);

        &:hover {
            background: var(--color-gray-20);
        }

        &:last-of-type {
            border-radius: 0 0 10px 10px;
        }

        .items-end {
            align-items: flex-start;
        }

        &:not(:last-of-type) {
            border-bottom: 1px solid var(--color-gray-30);
        }

        @media (min-width: 560px) {
            align-items: start;
            grid-template-columns: 30% 20% 20% 1fr;
            gap: 20px;
        }

        @media (min-width: $media-xxl) {
            padding: 20px;

            .items-end {
                align-items: flex-end;
            }
        }

        @media (min-width: 1920px) {
            grid-template-columns: 30% 22% 22% 1fr;
        }
    }

    .reports__list-item__col-name > div {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 150px;

        @media (min-width: 560px) {
            white-space: unset;
            max-width: none;
        }

        @media (min-width: $media-xxl) {
            white-space: nowrap;
            max-width: 150px;
        }
    }
}

.management-card-reports-list {
    &__header {
        display: none;
        align-items: center;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: var(--color-gray-70);
        padding: 0 28px 20px 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid var(--color-gray-30);

        @media (min-width: 560px) {
            gap: 20px;
            display: grid;
        }

        @media (min-width: $media-xxl) {
            margin: 0;
            grid-template-columns: 1fr 80px 1fr 17% 80px;
        }
    }

    .reports__list:not(.list--scroll) {
        li {
            padding: 20px 28px 20px 20px;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        gap: 10px;
        cursor: pointer;
        transition: background var(--trans);

        &:hover {
            background: var(--color-gray-20);
        }

        &:not(:last-of-type) {
            border-bottom: 1px solid var(--color-gray-30);
        }

        &:last-of-type {
            border-radius: 0 0 10px 10px;
        }

        @media (min-width: 560px) {
            grid-template-columns: repeat(5, 1fr);
            gap: 20px;
        }

        @media (min-width: $media-xxl) {
            padding: 20px;
            grid-template-columns: 1fr 80px 1fr 17% 80px;
        }

        .management-reports__item__col {
            grid-column: -1 / 1;

            div {
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
            }

            span {
                color: #667085;
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
            }

            @media (min-width: 560px) {
                grid-column: unset;
            }
        }
    }

    .reports__list-item__col-name > div {
        display: -webkit-box !important;
        -webkit-box-orient: vertical !important;
        -webkit-line-clamp: 2 !important;
        overflow: hidden;
        white-space: normal !important;
    }
}
